@import 'grommet/scss/vanilla/index';

.grommetux-form-field {
  overflow: hidden;
}

.align-left {
  text-align: left;
}

.label {
  //display: inline;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  //white-space: nowrap;
  //vertical-align: baseline;
  border-radius: .25em;
  margin:3px;
  width: 100%;
    float:left;
}
.ui{
  display:inherit !important;
  margin:0 auto !important;
}

.label-success {

  display: inline-block;
  color: #fff!important;
  background-color: #7CB342;
  list-style:none;
  width:auto;
}


.grommetux-header .grommetux-search--inline .grommetux-search__input {
  background-color: #fff;
}

.status-open {
  width: 40%;
  padding: 5px;
  text-align: center;
  background-color: #7CB342;
  font-weight: bold;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}

.status-close {
  width: 40%;
  padding: 5px;
  text-align: center;
  background-color: #F4511E;
  font-weight: bold;
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
}
